@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

h2, p {
  color: #d6427b;
}

body {
  background-color: #ffe4f6;
}

footer {
  background-color: peru;
  padding: 75px;
  width: 100%;
}

.page_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  text-align: center;
  align-content: space-around;
  flex: 1 0 auto;
  justify-content: space-around;
  font-family: 'Balsamiq Sans', 'cursive';
}

.pie {
  width: 150px;
  padding-top: 15px;
}

.strawberry {
  width: 100px;
}

.strawberry-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 10px;
}

.title {
  font-size: 65px;
  -webkit-text-fill-color: pink;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #d6427b;
  background-color: #F7F3F1;
  width: 50rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
}

.selected-board_container {
  background-color: #F7F3F1;
  width: 30rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}

.selected-board {
  font-size: medium;
}

.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card-items_container {
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: auto; */
  margin: 2rem;
}

.new-card-form-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  /* grid-column-end: ; */
}

select {
    position: relative;
    display: block;
    width: 100px;
    margin: auto;
    font-family: 'Balsamiq Sans', 'cursive';
    font-size: 18px;
    color: #d6427b;
}