.App {
  text-align: center;
}

.board-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cards-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.new-card-form-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}